.btn {
	margin: 10px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
	border: 0;
	cursor: pointer;
}

.btn:hover {
	background-position: right center;
}

.btn--primary {
	background-image: linear-gradient(to right, #f6d365 0%, #fa3803 51%, #f6d365 100%);
}

.btn--delete {
	background-image: linear-gradient(to right, #ffecd2 0%, #fa3803 51%, #ffecd2 100%);
}

.btn--edit {
	background-image: linear-gradient(to right, #6ba3fc 0%, #c2e9fb 51%, #a1c4fd 100%);
}

.btn--create {
	background-image: linear-gradient(to right, #05d852 0%, #8fd3f4 51%, #84fab0 100%);
}

.btn--register {
	background-image: linear-gradient(to right, #fbc2eb 0%, #fa3803 51%, #fbc2eb 100%);
}


