@import '../scss/dragonsMixins.scss';

.card {
  display: flex;
  align-items: center;
  .card--elements {
    cursor: pointer;
  }
  .card--elements-button {
    justify-content: center;
  }
}
.card--elements:active {
  transform: translateY(4px);
}
.body--elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  .body--elements-title {
    @include for-title
  }
}