@mixin for-card-wrapper {
  display: flex;
  height: 100px;
  box-sizing: border-box;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 10px;
  border: 0;
  color: #fff;
  margin: 5px;
  padding: 10px;
  box-shadow: 5px 5px 5px #999697;
}

@media screen and (min-width: 320px) {
  .card:hover {
    background-position: right center;
  }
  .card--elements {
    @include for-card-wrapper;
    background-image: linear-gradient(to right, #f6d365 0%, #fa3803 51%, #f6d365 100%);
     width: 90vw;
  }
}

@media screen and (min-width: 1280px) {
  .card:hover {
    background-position: right center;
  }
  .card--elements {
    @include for-card-wrapper;
    background-image: linear-gradient(to right, #f6d365 0%, #fa3803 51%, #f6d365 100%);
     width: 30vw;
  }
}