@mixin for-card-wrapper {
  overflow-x: auto;
  overflow-y: auto;
  box-sizing: border-box;
  border-radius: 10px;
  border: 0.5px solid #999697;
  background: #FFFFFF;
  margin: 5px;
  padding: 10px;
}
@media screen and (min-width: 320px) {
  .card--elements {
    @include for-card-wrapper
  }
}